<div class="container-fluid container-margin">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card card-width">
        <div class="card-body">
          <h5 class="card-title">Create a new transaction</h5>
          <p class="card-text">To create a new transaction for user.</p>
          <a routerLink="/new-transaction" routerLinkActive="active" class="btn btn-primary">Create Transaction</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card card-width">
        <div class="card-body">
          <h5 class="card-title">Get all transations</h5>
          <p class="card-text">To get all transations associated with user.</p>
          <a routerLink="/details" routerLinkActive="active" class="btn btn-primary">Get all transations</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card card-width">
        <div class="card-body">
          <h5 class="card-title">Search specific transaction</h5>
          <p class="card-text">To search specific transation with username and transaction id.</p>
          <a routerLink="/search" routerLinkActive="active" class="btn btn-primary">Search Transaction</a>
        </div>
      </div>
    </div>
  </div>
</div>